/**
*	GENERAL
**/
* {
	box-sizing: border-box;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #ffffff;
	color: #231F20;
	overflow: hidden;
}

.page-wrap, .page-inner-wrap {
	width: 100%;
	height: 100%;
}
.page-wrap {}
	.page-inner-wrap {
		transition: transform .25s ease-in-out;
		-webkit-transition: -webkit-transform .25s ease-in-out;
		-ms-transition: -ms-transform .25s ease-in-out;
	}
		

/**
*	LAYOUT
**/
.page-left-column, .page-right-column {
	overflow: auto;
	height: 100%;
}
.page-left-column {
	position: fixed;
	float: left;
	width: 270px;
}
.page-right-column {
}
@media( max-width: 749px ) {
	.page-right-column {
		width: 100%;
	}
}

/**
*	HEADER
**/
header {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	background-color: #ffffff;	
}

.mob-header {
	position: fixed;
	z-index: 1;
}
	.mob-header h1 {
		text-align: center;
	}

/**
*	NAVIGATION
**/
#nav {
	display: inline-block;
	float: left;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: #ffffff;	
}
	#nav ul {
		margin: 0;
		padding: 0;
	}

/**
*	NAVIGATION ANIM
**/
@media( max-width: 749px ) {
	.page-wrap.open {
	}
	.page-left-column {}
		.page-wrap.open .page-inner-wrap {
			transform: translate3d(270px,0,0);
			-webkit-transform: translate3d(270px,0,0);
			-ms-transform: translate3d(270px,0,0);
		}
			.page-wrap.open .page-left-column {
				transform: translate3d(-270px,0,0);
				-webkit-transform: translate3d(-270px,0,0);
				-ms-transform: translate3d(-270px,0,0);
			}
}

/**
*	HOMEPAGE
**/
.homepage-content-wrap {}
	.homepage-tile {
		position: relative;
		float: left;
		height: 350px;
		text-align: center;
	}
		.homepage-tile img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
