@media( max-width: 749px ) {

	.page-right-column {
		width: 100%;
	}

	.happy-party{display: none;}

	.nav {
		height: 100%;
	}

	/**
	*	NAVIGATION ANIM
	**/
	.page-wrap.open {
		overflow: hidden;
	}
	.page-left-column {
		transform: translate3d(-250px,0,0);
		-webkit-transform: translate3d(-250px,0,0);
		-ms-transform: translate3d(-250px,0,0);
	}
		.page-wrap.open .page-inner-wrap {
			transform: translate3d(250px,0,0);
			-webkit-transform: translate3d(250px,0,0);
			-ms-transform: translate3d(250px,0,0);
		}

	/**
	*	PROJECTS
	**/
	.project-controls li {
		position: absolute;
	}
		.project-controls li:first-child, .project-controls li:last-child {
			top: 90px;
		}
		.project-controls li:first-child {
			left: 20px;
		}
		.project-controls li:last-child {
			right: 20px;
		}

	.project-content-wrap h1 {
		max-width: 100%;
		margin: 0 20px;
		position: relative;
		text-align: center;
	}

	/**
	*	ABOUT
	**/
	.right-about-column {
		margin-bottom: 80px;
	}

}
	